@import '../../css/vars';
@import '../../css/colors';

.footer {
    position: relative;
    width: 100%;

    padding: 0 50px;
    
    &__menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: $footer-menu-height;
    }

    &__logo {
        display: flex;
    }

    &__link {
        font-size: 14px;
        font-weight: 600;
    }

    &__copyright {
        display: flex;
        justify-content: space-between;
        padding-bottom: 17px;

        span {
            color: $color-footer-copyright;
            font-size: 10px;
            font-weight: 500;
        }
    }
}
