@import './media';

@mixin container {
    overflow: hidden;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 100%;

    @include from-sm-width {
        width: $sm-width;
    }
    @include from-md-width {
        width: $md-width;
    }
    @include from-lg-width {
        width: $lg-width;
    }
    @include from-xl-width {
        width: $xl-width;
    }
    @include from-xxl-width {
        width: $xxl-width;
    }
}
