@import "vendor/normalize";
@import "vendor/fonts";
@import 'vendor/vars';

body {
    @include font;
    font-size: $base-font-size;
    line-height: $base-line-height;
    color: $color-text-dark;
    background-color: $color-white-lilac;
    min-height: 100vh;
}