@import "mixins/block";
@import "mixins/container";
@import "mixins/media";
@import 'vendor/vars';


/* At critical */
//@import "components/section";
//@import "components/topic";
/* *** */

@import "components/buttons";
@import "components/text";

@import "components/section-intro";
@import "components/section-why";
@import "components/section-ico-status";
@import "components/section-citation";
@import "components/section-rybalsky";
@import "components/section-roadmap";
@import "components/section-contacts";
@import "components/section-faq";
@import "components/section-challenge";
@import "components/section-team";

@import "components/navigation";