.navigation {
    z-index: 999;

    &-open, &-close {
        border: none;
        cursor: pointer;
    }

    &-close {
        background: transparent;
        position: absolute;
        right: 20px;
        top: 4px;
        height: 40px;
        width: 40px;
        padding: 0;
        z-index: 3;

        &__line {
            display: block;
            position: absolute;
            height: 2px;
            width: 24px;
            background: $color-white-lilac;
            left: 8px;

            &:nth-child(1) {
                transform: rotate(-45deg);
            }

            &:nth-child(2) {
                transform: rotate(45deg);
            }
        }
    }

    &-open, &-overlay, &-wrapper {
        transition: all 0.4s;
        position: fixed;
    }

    &-overlay {
        position: fixed;
        visibility: hidden;
        opacity: 0;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 1;
        background: transparentize($color-text-dark, 0.3);

        .-open & {
            visibility: visible;
            opacity: 1;
        }
    }

    &-logo {
        position: absolute;
        left: 24px;
        top: 16px;
        width: 54px;
    }

    &-content {
        padding: 74px 24px 100px 24px;
        overflow-x: hidden;
        min-height: 100vh;
    }

    &-wrapper {
        top: 0;
        bottom: 0;
        z-index: 2;
        width: 260px;
        background: $color-text-dark;
        color: $color-white-lilac;
        max-height: 100vh;
        overflow-y: auto;
        right: -260px;
        .-open & {
            right: 0;
        }
    }

    &-item {
        display: block;
        & > a {
            transition: all 0.4s;
            text-decoration: none;
            font-size: 18px;
            display: inline-block;
            margin-bottom: 16px;
            &:hover {
                color: $color-primary;
                transform: translateX(-4px);
            }
        }

        &.-main-action {
            & > a {
                font-weight: bold;
                z-index: 2;
                &:after {
                    content: '';
                    display: block;
                    height: 6px;
                    width: 100%;
                    position: absolute;
                    bottom: 2px;
                    background: transparentize($color-primary, 0.8);
                    z-index: 1;
                }
            }
        }
    }

    &-overlay {
        position: fixed;
    }

    &-footer {
        position: absolute;
        bottom: 20px;
        left: 24px;
        right: 24px;
        &__desc {
            font-size: 12px;
            margin-bottom: 8px;
            color: $color-text-light;
        }

        &__links {
            & > a {
                display: inline-block;
                font-size: 24px;
                margin-right: 12px;
                color: $color-text-light;
                &:hover {
                    color: $color-primary;
                }
            }
        }
    }
}