.ico {
    &-info {
        font-size: 14px;
    }
}

.ico-status {
    transition: all 0.4s;
    opacity: 0;
    display: block;
    width: 100%;

    &.-loaded {
        opacity: 1;
    }

    &-loading {
        font-size: 20px;
    }

    &-container {
        display: flex;
        min-height: 100px;
    }

    &__progress-wrapper {
        display: flex;
        padding: 16px 0 40px 0;
        align-items: center;
    }

    &-percentage {
        font-weight: bold;
        margin-right: 16px;
    }

    &-progress {

        width: 100%;
        // max-width: 560px;

        &__line {
            width: 100%;
            height: 8px;
            background: $color-white-lilac;
            border-radius: 8px;
            overflow: hidden;

            &-fill {
                max-width: 100%;
                height: 8px;
                background-image: linear-gradient(90deg, $color-primary 0%, $color-main 100%);
            }
        }

        &__target {
            position: absolute;
            right: 4px;
            top: 16px;
            font-size: 18px;
        }
    }

    &-items {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    &-item {
        width: 33.333%;
        padding: 0 20px;
        margin: 32px 0 0 0;

        &__value {
            text-align: center;
            font-size: 24px;
            margin: 8px 0 8px 0;
        }

        &__name {
            font-size: 14px;
            font-weight: normal;
            text-align: center;
        }

        @include to-sm-width {
            width: 100%;
            margin-top: 0;
            margin-bottom: 32px;
        }
    }
}

.contract {
    margin: 32px 0;

    &__desc {
        font-size: 14px;
        margin-bottom: 16px;
    }

    &-wrapper {
        display: flex;
    }

    &-copy {
        transition: all 0.4s;
        padding: 6px 8px;
        cursor: pointer;
        margin-left: 8px;
        background: none;
        border: none;
        @include to-sm-width {
            display: none;
        }

        &:hover {
            color: $color-main;
        }
    }

    &__address {
        display: inline-block;
        width: 100%;
        max-width: 580px;
        border: none;
        border-radius: 3px;
        background: $color-white-lilac;
        margin: 0;
        padding: 8px 8px;
        line-height: 1.41;
        text-align: center;

        @include to-sm-width {
            font-size: 14px;
        }
    }

    &-links {
        & > a {
            font-size: 12px;
            color: $color-text-light;
        }
    }
}