.faq {
    &-block {

    }

    &-item {
        max-width: 680px;
        width: 100%;
        padding: 0 0 0 24px;
        margin-bottom: 48px;
        margin-right: auto;
        margin-left: auto;
        border-left: 4px solid $color-primary;

        &__title {
            margin-bottom: 24px;
        }
        &__answer {
        }
    }
}