.team {
    &-list {
        width: 100%;
        margin: 0 auto;
        background: $color-bg-grey;
    }

    &-person {
        display: flex;
        align-items: center;
        width: 100%;
        margin: 0 auto;
        max-width: 800px;

        &-desc {
            padding-top: 16px;
            padding-bottom: 16px;
            padding-left: 40px;
            width: 60%;
        }

        &-image {
            width: 100%;
            max-width: 300px;
            display: block;
            margin: 0 auto;

            &__wrapper {
                display: block;
                width: 40%;
                margin-top: -56px;
            }
        }

        &__name {
            margin-bottom: 16px;
            font-size: 32px;
        }

        &__jobs {
            font-weight: normal;
            color: $color-santas-gray;
            margin-bottom: 16px;
            font-size: 14px;
        }

        &__bio {
            font-size: 16px;
            margin-bottom: 16px;
        }

        &__social {
            display: block;
            &-item {
                margin-right: 16px;
                font-size: 24px;
                display: inline-block;
                cursor: pointer;
                color: $color-santas-gray;

                &:last-child {
                    margin-right: 0;
                }

                &:hover {
                    color: $color-main;
                }
            }
        }

        @include to-sm-width {
            flex-direction: column;

            &__name {
                font-size: 24px;
            }

            &-desc {
                padding-left: 16px;
                padding-right: 16px;
                width: 100%;
            }

            &-image {
                margin-bottom: 32px;
                margin-right: auto;
                margin-left: auto;
                width: 80%;
                max-width: 250px;

                &__wrapper {
                    width: 100%;
                    padding-left: 16px;
                    padding-right: 16px;
                }
            }
        }
    }
}