.partners {
    &-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 32px;
    }

    &-item {
        transition: all 0.4s;
        width: 33.3333%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 20px;
        margin-bottom: 32px;
        opacity: 0.4;
        &__image {
            width: 100%;
            max-width: 160px;
            display: block;
        }

        &:hover {
            opacity: 1;
        }
    }

    &-about {
        text-align: center;
        font-size: 14px;
        color: $color-text-light;
    }

    @include to-sm-width {
        &-item {
            width: 50%;
        }
    }
}