.citation {
    padding-top: 16px;
    padding-bottom: 16px;

    & .section-content {

    }

    &-body {
        border: 1px solid $color-reriwinkle-gray;
        width: 100%;
        max-width: 768px;
        padding: 32px 48px;
        margin: 0 auto;
    }

    &-quote {
        font-size: 24px;
        font-style: italic;
    }

    &-author {
        margin-top: 24px;
        display: block;
        font-weight: bold;
    }

    @include to-sm-width {
        &-body {
            padding: 24px 32px;
        }

        &-quote {
            font-size: 18px;
        }

        &-author {
            font-size: 14px;
        }
    }
}