.paragraph {
    margin-bottom: 24px;
    &:last-child {
        margin-bottom: 0;
    }

    &-special {
        font-size: 12px;
        margin-top: 24px;
        color: $color-text-light;

        &__item {
            margin-bottom: 16px;
        }
    }
}

.text {
    &-red {
        color: $color-red;
    }
}