.topic {
    &-title {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;

        max-width: 600px;
        width: 100%;

        font-size: 32px;
        font-weight: 600;

        .-intro & {
            font-size: 48px;
            color: $color-primary;
        }
    }
}