$color-white: #fff;
$color-white-lilac: #f7f8fc;
$color-reriwinkle-gray: #d8ddef;
$color-santas-gray: #a0a4b8;

$color-main: #F76B1C;
$color-main-02: #FAD961;
$color-primary: #FFC137;

$color-shadow: #2a2a2a;
$color-shadow-blue: #2e3273;

$color-text-dark: #262739;
$color-text-light: #9c9ca5;

$color-link-blue: #4042ff;
$color-footer-copyright: #a0a4b8;