$dur: 300ms;
$dur-half: $dur / 2;
$dur-fast: 60ms;

$base-font-size: 16px;
$base-line-height: 1.5;

$xxl-width: 1440px;
$xl-width: 1200px;
$lg-width: 992px;
$md-width: 768px;
$sm-width: 576px;

$header-height: 100px;
$footer-menu-height: 100px;
$footer-height-xl: 132px;
