@import '../../css/vars';

body.header--fixed {
    padding-top: $header-height;

    .header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }
}

.header {
    contain: strict;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: $header-height;

    padding: 0 50px;

    &.i-scrolled:before {
        opacity: 0.5;
    }

    &:before {
        content: '';
        z-index: -1;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0;
        will-change: opacity;
        transition: opacity ease $dur;
    }

    &__logo {
        display: flex;
    }

    &__horizontal-menu {
        margin-right: 50px;
    }

    &__link {
        font-size: 14px;
        font-weight: 600;
    }
}
