@import '../../css/colors';

.horizontal-menu {
    display: flex;
    flex-wrap: nowrap;
    height: 100%;
    padding: 1rem 0;

    &__item {
        display: flex;
        align-items: center;

        &:not(:last-child) {
            margin-right: 50px;
        }
    }
}
