@import '../../css/vars';
@import '../../css/colors';

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &--column-center {
        align-items: center;
    }

    & > *:not(:last-child) {
        margin-bottom: 40px;
    }
}